;html{
    font-family:$font-family;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
body{
    margin:0;
    background-color: $body-bg;
}
// 修改样式主题
$--color-primary:$primary-color;
$--color-success:$success-color;
$--color-warning:$warning-color;
$--color-danger:$danger-color;
$--font-path:'~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';
.el-pagination {
    color:#868e96;
}
.status {
    display:inline-block;
    cursor:pointer;
    width:.875rem;
    height:.875rem;
    vertical-align:middle;
    border-radius:50%;

    &-primary {
        background: $--color-primary;
    }
    &-success {
        background: $--color-success;
    }
    &-warning {
        background: $--color-warning;
    }
    &-danger {
        background: $--color-danger;
    }
    &-info {
        background: $--color-info;
    }
}